{% extends "./mabase.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Concerteur - Ajouter un message manuellement{% endblock %}


{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}


{% block content %}
<div class="container">
<h2>Ajouter un message (manuellement)</h2>
<p>Les messages ajouté à la base de donnée du concerteur sont normalement envoyés par sms. Ce formulaire permet d'ajouter un message depuis l'interface web, c'est à dire simuler l'envoi d'un SMS</p>
{{ wtf.quick_form(form) }}
</div>
{% endblock %}


