{% extends "./mabase.html" %}

{% block title %}Concerteur - Poubelle{% endblock %}


{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}

<main>
  <div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Liste des messages supprimés par question</h2>

  {% for question in questions %}
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 ">

      <div class="col d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold">Question {{question.id}} : {{ question.title }}</h3>
		<div class="bs-component">
		{% if question.current %}<span class="btn btn-success btn-sm disabled"> (question active)</span>{% endif %}
		{% if not question.current %}<a class="btn btn-outline-success btn-sm" href="{{ url_for('.change_question', message_num=question.id ) }}">activer la question</a>{% endif %}
		{% if question.base_filename %}<a class="btn btn-secondary btn-sm" href="{{ url_for('static', filename=current_app.config['MP3_FOLDER_NAME']+'/'+question.base_filename+'.mp3') }}"	>audio</a>{% endif %}
		{% if question.base_filename %}<a class="btn btn-primary btn-sm" href="{{ url_for('static', filename=current_app.config['ARCHIVE_FOLDER_NAME']+'/'+question.base_filename+'.zip') }}">Télécharger l'archive</a>{% endif %}
		</div>
		<p class="text-body-secondary">{{question.text}}</p>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">

			{% for message in question.messages | reverse if message.trashed == True %}
			<div class="col d-flex flex-column gap-2">
				<h4 class="fw-semibold mb-0">Message {{message.id}}</h4>
				<p class="text-body-secondary">{{message.text}}</p>
				<div class="bs-component">
					{% if message.base_filename %}
					<a class="btn btn-primary btn-sm" href="{{ url_for('static', filename=current_app.config['MP3_FOLDER_NAME']+'/'+message.base_filename+'.mp3') }}">audio</a>
					{% endif %}
					<a class="btn btn-success btn-sm" href="{{ url_for('.untrash_message', message_num=message.id) }}">restaurer</a>
					<a class="btn btn-danger btn-sm" href="{{ url_for('.del_message', message_num=message.id) }}">supprimer</a>
				</div>
			</div>
			{% endfor %}
			
        </div>
      </div>

    </div>
  {% endfor %}
  </div>
</main>
{% endblock %}

